extends ../../layouts/default

block head
  title My Events

block body
  div.row
    div.col-sm-8
      div.page-header
        h1 My Events
      if data
        ul.events
          each event, i in data
            li
              .row
                .col-sm-8.myevent-name
                  h3
                    a(href='/events/event/#{event._id}') #{event.name}
                .col-sm-4.pull-right.myevent-edit
                  button.btn.btn-info
                    i.fa.fa-pencil
                    a(href='/events/edit/#{event._id}')  Edit
                    &nbsp;&nbsp;
                  button.btn.btn-danger
                    i.fa.fa-trash 
                    a(id='deleteEvent', data-delete='#{event._id}', href='#')  Delete
      else
        <p>You have no events</p>
    div.col-sm-4
      div.page-header
        h1 Recent Events